body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f2f2f2;
    margin: 0;
    padding: 20px; 
}

.cat-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;    
}

.cat-breed {
    background-color: white;
    padding: 15px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0px, 4px, 8px, rgba(red, green, blue, alpha);
    text-align: center;
    transition: transform 0.3s ease;
}

.cat-breed img {
    width: 100%;
    border-radius: 10px;
}

cat-breed:hover {
    transform: scale 1.05;
}

@media (max-width: 600px) {
    .cat-container {
        flex-direction: column; 
        align-items: center;     
    }

    .cat-breed {
        width: 90%;         
    }

}



